<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="POS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Dreams Pos admin template</title>
		{% load static %}
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- animation CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/select2/css/select2.min.css' %}">

		<!-- Datatable CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
		
        <!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">
		
		
    </head>
    <body>
		
		<div id="global-loader" >
			<div class="whirly-loader"> </div>
		</div>
		 
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			
			 <!-- Header -->
			 <div class="header">
			
			 <!-- Logo -->
             <div class="header-left active">
                <a href="index.html" class="logo logo-normal">
                    <img src="{% static 'assets/img/esth.png' %}"  alt="">
                </a>
                <a href="index.html" class="logo logo-white">
                    <img src="{% static 'assets/img/logo-white.png' %}"  alt="">
                </a>
                <a href="index.html" class="logo-small">
                    <img src="{% static 'assets/img/logo-small.png' %}"  alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                    <i data-feather="chevrons-left" class="feather-16"></i>
                </a>
            </div>
            <!-- /Logo -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item nav-searchinputs">
						<div class="top-nav-search">
							
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
							</a>
							<form action="#">
								<div class="searchinputs">
									<input type="text" placeholder="Search">
									<div class="search-addon">
										<span><i data-feather="search" class="feather-14"></i></span>
									</div>
								</div>
								<!-- <a class="btn"  id="searchdiv"><img src="assets/img/icons/search.svg" alt="img"></a> -->
							</form>
						</div>
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav nav-item-box">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
							<i data-feather="globe"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item active">
								<img src="{% static 'assets/img/flags/us.png' %}" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/fr.png' %}" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/es.png' %}" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/de.png' %}" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->

					<li class="nav-item nav-item-box">
						<a href="javascript:void(0);" id="btnFullscreen">
							<i data-feather="maximize"></i>
						</a>
					</li>
					<li class="nav-item nav-item-box">
						<a href="email.html">
							<i data-feather="mail"></i>
							<span class="badge rounded-pill">1</span>
						</a>
					</li>
					<!-- Notifications -->
					<li class="nav-item dropdown nav-item-box">
						<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i data-feather="bell"></i><span class="badge rounded-pill">2</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-06.jpg' %}">
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-17.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-13.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
													<p class="noti-time"><span class="notification-time">2 days ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<li class="nav-item nav-item-box">
						<a href="generalsettings.html"><i data-feather="settings"></i></a>
					</li>
					<li class="nav-item dropdown has-arrow main-drop">
						<a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
							<span class="user-info">
								<span class="user-letter">
									<img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt="" class="img-fluid">
								</span>
								<span class="user-detail">
									<span class="user-name">John Smilga</span>
									<span class="user-role">Super Admin</span>
								</span>
							</span>
						</a>
						<div class="dropdown-menu menu-drop-user">
							<div class="profilename">
								<div class="profileset">
									<span class="user-img"><img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt="">
									<span class="status online"></span></span>
									<div class="profilesets">
										<h6>John Smilga</h6>
										<h5>Super Admin</h5>
									</div>
								</div>
								<hr class="m-0">
								<a class="dropdown-item" href="profile.html"> <i class="me-2"  data-feather="user"></i> My Profile</a>
								<a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
								<hr class="m-0">
								<a class="dropdown-item logout pb-0" href="signin.html"><img src="{% static 'assets/img/icons/log-out.svg' %}" class="me-2" alt="img">Logout</a>
							</div>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="generalsettings.html">Settings</a>
						<a class="dropdown-item" href="signin.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
			</div>
			<!-- Header -->
			
		 <!-- Sidebar -->
		 <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        
                        <li class="submenu-open">
                            <h6 class="submenu-hdr">User Management</h6>
                            <ul>
                                <li>
                                    <a href="dashboard.html" ><i data-feather="grid"></i><span>Dashboard</span></a>
                                </li>
                                <li>
                                    <a href="usernew.html" ><i data-feather="grid"></i><span>UserList</span></a>
                                </li>
                                <li>
                                    <a href="product.html" ><i data-feather="grid"></i><span>Product</span></a>
                                </li>
                                <li>
                                    <a href="material.html" ><i data-feather="grid"></i><span>Material List</span></a>
                                </li>
								<li>
                                    <a href="{% url 'raw-material-acceptance-list' %}" ><i data-feather="grid"></i><span>RM-Acceptance Test</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'raw-material-batch-fetch' %}" ><i data-feather="grid"></i><span>Rawmaterial batch</span></a>
                                </li>
                               
                            </ul>								
                        </li>
                        
                        
                       
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Raw Material Batch Creation</h4>
							
						</div>
					</div>
					<!-- /add -->
					<div class="card">
						<div class="card-body">
							<div class="row">
								
								<!-- <div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Category</label>
										<select class="select">
											<option>Choose Category</option>
											<option>Computers</option>
										</select>
									</div>
								</div> -->
								
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Raw Material</label>
										<select class="select" id="raw_material" name="raw_material">
											{% for material in raw_materials %}
												<option value="{{ material.id }}" data-expiry-date="{{ material.expiry_date|date:'Y-m-d' }}">
													{{ material.name }}
												</option>
											{% endfor %}
										</select>
									</div>
								</div>
								
								
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Batch Id</label>
										<input type="text"  name="batch_id" id="batch_id">
									</div>
								</div>
								
										<div class="col-lg-3 col-sm-6 col-12">
											<div class="form-group">
												<label for="procurement_date">Procurement Date</label>
												<input type="date" id="procurement_date" name="procurement_date" class="form-control">
											</div>
										</div>
										<div class="col-lg-3 col-sm-6 col-12">
											<div class="form-group">
												<label for="expiry_date">Expiry Date</label>
												<input type="date" id="expiry_date" name="expiry_date" class="form-control" readonly>
											</div>
										</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Batch Size</label>
										<input type="text" name="batch_size_value" id="batch_size_value" >
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Unit</label>
										<select class="select" id="batch_size_unit" name="batch_size_unit">
											{% for unit in units %}
												<option value="{{ unit.id }}">{{ unit.name }}</option>
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Packing Details</label>
										<input type="text" name="packing_details" id="packing_details">
									</div>
								</div>
							
								<!-- <div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>procurement_date</label>
										<input type="text" >
									</div>
								</div>
                                <div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>sources</label>
										<select class="select">
											<option>Choose</option>
											<option>Color Consistency</option>
                                            <option>Particle Size</option>
                                            <option>Moisture Content</option>
                                            <option>Purity</option>
										</select>
									</div>
								</div>
                                <div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Shelf life value</label>
										<input type="text" >
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Specification</label>
										<input type="text" >
									</div>
								</div> -->
							
								<!-- <div class="col-lg-3 col-sm-6 col-12" id="inputContainer">
									<div class="form-group">
										<label>Test results</label>
										<input type="file" class="form-control mt-2" multiple>
									</div>
								</div> -->
								<!-- <div class="col-lg-3 col-sm-6 col-12">
									<button type="button" class="btn btn-sm btn-primary" id="addButton" style="font-size: 20px; padding: 2px 10px; display: block; margin:29px 0px ;">+</button>
								</div>
								
								<script>
									document.getElementById('addButton').addEventListener('click', function() {
										// Create a new div to contain the file input and close button
										var newDiv = document.createElement('div');
										newDiv.className = 'form-group mt-2 d-flex align-items-center';
								
										// Create a new file input field
										var newFileInput = document.createElement('input');
										newFileInput.type = 'file';
										newFileInput.className = 'form-control';
										newFileInput.multiple = true;
										newDiv.appendChild(newFileInput);
								
										// Create a close button
										var closeButton = document.createElement('button');
										closeButton.type = 'button';
										closeButton.className = 'btn btn-danger btn-sm ml-2';
										closeButton.innerHTML = '&times;';
										closeButton.style.fontSize = '20px';
										newDiv.appendChild(closeButton);
								
										// Append the new div to the container
										document.getElementById('inputContainer').appendChild(newDiv);
								
										// Add event listener to remove the file input and close button when clicked
										closeButton.addEventListener('click', function() {
											newDiv.remove();
										});
									});
								</script> -->
								
								 
								
								
								<!-- <div class="col-lg-12">
									<div class="form-group">
										<label>Description</label>
										<textarea class="form-control"></textarea>
									</div>
								</div> -->
								<!-- <div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Tax</label>
										<select class="select">
											<option>Choose Tax</option>
											<option>2%</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Discount Type</label>
										<select class="select">
											<option>Percentage</option>
											<option>10%</option>
											<option>20%</option>
										</select>
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>Price</label>
										<input type="text" >
									</div>
								</div>
								<div class="col-lg-3 col-sm-6 col-12">
									<div class="form-group">
										<label>	Status</label>
										<select class="select">
											<option>Closed</option>
											<option>Open</option>
										</select>
									</div>
								</div> -->
                                
								<!-- <div class="col-lg-4">
									<div class="form-group">
										<label>Test Result</label>
										<div class="image-upload">
											<input type="file" multiple>
											<div class="image-uploads">
												<img src="assets/img/icons/upload.svg" alt="img">
												<h4>Drag and drop a file to upload</h4>
											</div> 
										</div>
									</div>
								</div> -->
                                
								<div class="col-lg-12">
									<button  id="submitButton" class="btn btn-submit me-2">Submit</button>
								</div>
							
							</div>
						</div>
					</div>
					<!-- /add -->
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		 
		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

        <!-- Feather Icon JS -->
		<script src="{% static 'assets/js/feather.min.js' %}"></script>

		<!-- Slimscroll JS -->
		<script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

		<!-- Datatable JS -->
		<script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

		<!-- Datetimepicker JS -->
		<script src="{% static 'assets/js/moment.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>

		<!-- Select2 JS -->
		<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}"></script>

		<!-- Sweetalert 2 -->
		<script src="{% static 'assets/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
		<script src="{% static 'assets/plugins/sweetalert/sweetalerts.min.js' %}"></script>

		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js' %}"></script>
		
    </body>


<script>
    $(document).ready(function() {
        $('#submitButton').click(function(event) {
            event.preventDefault(); 
            // Check if this alert shows

            // Gather form data
            var rawMaterial = $('#raw_material').val();
            var batchId = $('#batch_id').val();
            var procurementDate = $('#procurement_date').val();
            var expiryDate = $('#expiry_date').val();
            var batchSizeValue = parseFloat($('#batch_size_value').val()); // Ensure float conversion
            var batchSizeUnit = $('#batch_size_unit').val();
            var packingDetails = $('#packing_details').val();

            // Create the data object
            var rawMaterialBatchData = {
                raw_material: rawMaterial,
                batch_id: batchId,
                procurement_date: procurementDate,
                expiry_date: expiryDate,
                batch_size_value: batchSizeValue,
                batch_size_unit: batchSizeUnit,
                packing_details: packingDetails
            };
        // Debug: Check the data object

            // Send data as JSON
            $.ajax({
                type: 'POST',
                url: '{% url "raw-material-batch-add" %}', // URL to your Django view
                data: JSON.stringify(rawMaterialBatchData),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // CSRF token for security
                },
                success: function(response) {
                // Check the response
                    if (response.success) {
                        window.location.href = "{% url 'raw-material-batch-fetch' %}"; // Redirect or update the UI as needed
                    } else {
                        $('#error-message').text(response.message).show(); // Show error message
                    }
                },
                error: function() {
                    $('#error-message').text('An error occurred. Please try again.').show(); // Show error message
                }
            });
        });
    });


	
</script>

	<!-- <script>
    document.getElementById('raw_material').addEventListener('change', function() {
		alert("button clikced")
        var selectedOption = this.options[this.selectedIndex];
        var expiryDate = selectedOption.getAttribute('data-expiry-date');
        document.getElementById('expiry_date').value = expiryDate;
    });

    document.getElementById('raw_material').dispatchEvent(new Event('change'));
</script> -->

<script>
	$(document).ready(function() {
		$('#raw_material').on('change', function() {
			var expiryDate = $(this).find('option:selected').data('expiry-date');
			$('#expiry_date').val(expiryDate);
		});

		$('#raw_material').trigger('change');
	});
</script>
</html>