<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Login - VSSC</title>
  {% load static %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    .rightSec::before {
      width: 100%;
      position: absolute;
      content: '';
      z-index: -1;
      height: 100%;
      background-image: url(assets/images/ese.png);
      left: 0;
      top: 0;
      background-size: inherit;
      opacity: 0.3;
      background-repeat: no-repeat;
      background-position: center;
    }

    .z0 {
      z-index: 0;
    }
  </style>
</head>

<body class="account-page h-100">
  <div class="align-items-center container d-flex h-100 justify-content-center">
    <div class="no-gutters row shadow-lg">
      <div class="col-md-6 d-none d-md-block">
        <img src="{% static 'assets/images/vssc_img.png' %}" class="img-fluid" style="min-height:100%;" />
      </div>
      <div class="col-md-6 bg-white rightSec bg-transparent z0 position-relative p-3">
        <div class="row pb-3">
          <div class="col-md-6">
            <div class="w-50">
              <img src="{% static 'assets/images/vssc-logo.png' %}" class="img-fluid" style="min-height:100%; max-height: 90px;" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="w-100">
              <img src="{% static 'assets/images/gids-logo.png' %}" class="img-fluid" style="min-height:100%;" />
            </div>
          </div>
        </div>
        <div class="form-style bg-transparent z0 position-relative px-5 py-4">

          <div class="form-group mb-0">
            <div class="pb-2"><a>User Name</a></div>
            <input type="text" placeholder="" class="form-control" id="username" name="username" aria-describedby="emailHelp">
            <div class="text-right"><a href="" id="forgot-username-link">Forgot user name? </a></div>
          </div>
          <div class="form-group pb-3">
            <div class="pb-2"><a>Password</a></div>
            <input type="password" placeholder="" class="form-control" id="password" name="password">
            <div class="text-right"><a href="#" id="forgot-password-link">Forget Password?</a></div>
          </div>
          <div class="justify-content-center align-items-center row">
            <div class="mr-2 pb-2 w-25">
              <button id="login-btn" class="btn btn-dark w-100 font-weight-bold mt-2">Log In</button>
            </div>
            <div class="pb-2 w-25">
              <button type="submit" class="btn btn-primary w-100 font-weight-bold mt-2">Reset</button>
            </div>
          </div>

          <div class="pt-1 text-center">
            New user?<a href="#" id="register-btn"> Register here</a>
          </div>
        </div>
        <div class="py-3">
          <strong>
            <p class="text-center text-primary">प्रणाली विश्वसनीयता एिंसुरक्षा इकाई<br>
              Systems Reliability and Safety Entity<br>
              विक्रम साराभाई अन्तररक्ष कें द्र<br>
              VIKRAM SARABHAI SPACE CENTRE</p>
          </strong>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
  $(document).ready(function() {
    $('#login-btn').click(function() {
        var username = $('#username').val();
        var password = $('#password').val();

        if (!username || !password) {
            $('#error-message').text('Username and Password are required.').show(); // Show error message
            return; // Stop further execution
        }

        $.ajax({
            type: 'POST',
            url: '{% url "login_view" %}', // Update this to your actual login endpoint
            data: {
                'username': username,
                'password': password,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                if (response.success) {
                    var token = response.result[0].token;
                    var name = response.result[0].username;

                    // Redirect to the dashboard page with username as query parameter
                    window.location.href = "{% url 'user-dashboard' %}";
                } else {
                    $('#error-message').text(response.message).show(); // Show error message
                }
            },
            error: function() {
                $('#error-message').text('An error occurred. Please try again.').show(); // Show error message
            }
        });
      
    });
  });

   
  $('#forgot-username-link').click(function(event) {
                event.preventDefault(); // Prevent the default action of the link
                window.location.href = '/forgot-username'; // Redirect to /forgot-username on click
            });
            

            $('#forgot-password-link').click(function(event) {
                event.preventDefault(); // Prevent the default action of the link
                window.location.href = '/forgot-password'; // Redirect to /forgot-username on click
            });
        

            
            $('#register-btn').click(function(event) {
                event.preventDefault(); // Prevent the default action of the link
                window.location.href = '/sign-up    '; // Redirect to /forgot-username on click
            });
        
</script>
</html>