<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="POS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Dreams Pos admin template</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		{% load static %}
		<!-- Favicon -->
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- animation CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

		<!-- Datatable CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">
    </head>
    <body>
		<div id="global-loader" >
			<div class="whirly-loader"> </div>
		</div>
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			
			<!-- Header -->
			<div class="header">
			
				  <!-- Logo -->
                  <div class="header-left active">
                    <a href="index.html" class="logo logo-normal">
                        <img src="{% static 'assets/img/esth.png' %}"  alt="">
                    </a>
                    <a href="index.html" class="logo logo-white">
                        <img src="{% static 'assets/img/logo-white.png' %}"  alt="">
                    </a>
                    <a href="index.html" class="logo-small">
                        <img src="{% static 'assets/img/logo-small.png' %}"  alt="">
                    </a>
                    <a id="toggle_btn" href="javascript:void(0);">
                        <i data-feather="chevrons-left" class="feather-16"></i>
                    </a>
                </div>
                <!-- /Logo -->
				
				<a id="mobile_btn" class="mobile_btn" href="#sidebar">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				
				<!-- Header Menu -->
				<ul class="nav user-menu">
				
					<!-- Search -->
					<li class="nav-item nav-searchinputs">
						<div class="top-nav-search">
							
							<a href="javascript:void(0);" class="responsive-search">
								<i class="fa fa-search"></i>
							</a>
							<form action="#">
								<div class="searchinputs">
									<input type="text" placeholder="Search">
									<div class="search-addon">
										<span><i data-feather="search" class="feather-14"></i></span>
									</div>
								</div>
								<!-- <a class="btn"  id="searchdiv"><img src="assets/img/icons/search.svg" alt="img"></a> -->
							</form>
						</div>
					</li>
					<!-- /Search -->
				
					<!-- Flag -->
					<li class="nav-item dropdown has-arrow flag-nav nav-item-box">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
							<i data-feather="globe"></i>
						</a>
						<div class="dropdown-menu dropdown-menu-right">
							<a href="javascript:void(0);" class="dropdown-item active">
								<img src="{% static 'assets/img/flags/us.png' %}" alt="" height="16"> English
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/fr.png' %}" alt="" height="16"> French
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/es.png' %}" alt="" height="16"> Spanish
							</a>
							<a href="javascript:void(0);" class="dropdown-item">
								<img src="{% static 'assets/img/flags/de.png' %}" alt="" height="16"> German
							</a>
						</div>
					</li>
					<!-- /Flag -->

					<li class="nav-item nav-item-box">
						<a href="javascript:void(0);" id="btnFullscreen">
							<i data-feather="maximize"></i>
						</a>
					</li>
					<li class="nav-item nav-item-box">
						<a href="email.html">
							<i data-feather="mail"></i>
							<span class="badge rounded-pill">1</span>
						</a>
					</li>
					<!-- Notifications -->
					<li class="nav-item dropdown nav-item-box">
						<a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
							<i data-feather="bell"></i><span class="badge rounded-pill">2</span>
						</a>
						<div class="dropdown-menu notifications">
							<div class="topnav-dropdown-header">
								<span class="notification-title">Notifications</span>
								<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
							</div>
							<div class="noti-content">
								<ul class="notification-list">
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
													<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
													<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-06.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
													<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-17.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
													<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
												</div>
											</div>
										</a>
									</li>
									<li class="notification-message">
										<a href="activities.html">
											<div class="media d-flex">
												<span class="avatar flex-shrink-0">
													<img alt="" src="{% static 'assets/img/profiles/avatar-13.jpg' %}">
												</span>
												<div class="media-body flex-grow-1">
													<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
													<p class="noti-time"><span class="notification-time">2 days ago</span></p>
												</div>
											</div>
										</a>
									</li>
								</ul>
							</div>
							<div class="topnav-dropdown-footer">
								<a href="activities.html">View all Notifications</a>
							</div>
						</div>
					</li>
					<!-- /Notifications -->
					
					<li class="nav-item nav-item-box">
						<a href="generalsettings.html"><i data-feather="settings"></i></a>
					</li>
					<li class="nav-item dropdown has-arrow main-drop">
						<a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
							<span class="user-info">
								<span class="user-letter">
									<img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt="" class="img-fluid">
								</span>
								<span class="user-detail">
									<span class="user-name">John Smilga</span>
									<span class="user-role">Super Admin</span>
								</span>
							</span>
						</a>
						<div class="dropdown-menu menu-drop-user">
							<div class="profilename">
								<div class="profileset">
									<span class="user-img"><img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt="">
									<span class="status online"></span></span>
									<div class="profilesets">
										<h6>John Smilga</h6>
										<h5>Super Admin</h5>
									</div>
								</div>
								<hr class="m-0">
								<a class="dropdown-item" href="profile.html"> <i class="me-2"  data-feather="user"></i> My Profile</a>
								<a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
								<hr class="m-0">
								<a class="dropdown-item logout pb-0" href="signin.html"><img src="{% static 'assets/img/icons/log-out.svg' %}" class="me-2" alt="img">Logout</a>
							</div>
						</div>
					</li>
				</ul>
				<!-- /Header Menu -->
				
				<!-- Mobile Menu -->
				<div class="dropdown mobile-user-menu">
					<a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="generalsettings.html">Settings</a>
						<a class="dropdown-item" href="signin.html">Logout</a>
					</div>
				</div>
				<!-- /Mobile Menu -->
			</div>
			<!-- Header -->
			
			 <!-- Sidebar -->
             <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
                    <div id="sidebar-menu" class="sidebar-menu">
                        <ul>
                            
                            <li class="submenu-open">
                                <h6 class="submenu-hdr">User Management</h6>
                                <ul>
                                    <li>
                                        <a href="{% url 'user-dashboard' %}" ><i data-feather="grid"></i><span>Dashboard</span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'user-list' %}" ><i data-feather="grid"></i><span>UserList</span></a>
                                    </li>
                                    <li>
                                        <a href="product.html" ><i data-feather="grid"></i><span>Product</span></a>
                                    </li>
                                    <li>
                                        <a href="{% url 'raw-material' %}" ><i data-feather="grid"></i><span>Raw Material</span></a>
                                    </li>
									<li>
                                        <a href="{% url 'raw-material-acceptance-list' %}" ><i data-feather="grid"></i><span>RM Acceptace Test</span></a>
                                    </li>
									<li>
                                        <a href="{% url 'raw-material-batch-fetch' %}" ><i data-feather="grid"></i><span>Raw Material Batch</span></a>
                                    </li>
									
                                </ul>								
                            </li>
                            
                            
                           
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Sidebar -->
			
			<div class="page-wrapper">
				<div class="content">
					<div class="page-header">
						<div class="page-title">
							<h4>Material List</h4>
							<!-- <h6>Manage your products</h6> -->
						</div>
						<div class="page-btn">
							<a href="addmaterial.html" class="btn btn-added" id="add-raw-material"><img src="{% static 'assets/img/icons/plus.svg' %}" alt="img" class="me-1">Add Material</a>
						</div>
					</div>
					

					<!-- /product list -->
					<div class="card">
						<div class="card-body">
							<div class="table-top">
								<div class="search-set">
									<div class="search-path">
										<a class="btn btn-filter" id="filter_search">
											<img src="{% static 'assets/img/icons/filter.svg' %}" alt="img">
											<span><img src="{% static 'assets/img/icons/closes.svg' %}" alt="img"></span>
										</a>
									</div>
									<div class="search-input">
										<a class="btn btn-searchset"><img src="{% static 'assets/img/icons/search-white.svg' %}" alt="img"></a>
									</div>
								</div>
								<div class="wordset">
									<ul>
										<li>
											<a data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="{% static 'assets/img/icons/pdf.svg' %}" alt="img"></a>
										</li>
										<li>
											<a data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="{% static 'assets/img/icons/excel.svg' %}" alt="img"></a>
										</li>
										<li>
											<a data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="{% static 'assets/img/icons/printer.svg' %}" alt="img"></a>
										</li>
									</ul>
								</div>
							</div>
							<!-- /Filter -->
							<div class="card mb-0" id="filter_inputs">
								<div class="card-body pb-0">
									<div class="row">
										<div class="col-lg-12 col-sm-12">
											<div class="row">
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Choose Product</option>
															<option>Macbook pro</option>
															<option>Orange</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Choose Category</option>
															<option>Computers</option>
															<option>Fruits</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Choose Sub Category</option>
															<option>Computer</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12">
													<div class="form-group">
														<select class="select">
															<option>Brand</option>
															<option>N/D</option>
														</select>
													</div>
												</div>
												<div class="col-lg col-sm-6 col-12 ">
													<div class="form-group">
														<select class="select">
															<option>Price</option>
															<option>150.00</option>
														</select>
													</div>
												</div>
												<div class="col-lg-1 col-sm-6 col-12">
													<div class="form-group">
														<a class="btn btn-filters ms-auto"><img src="{% static 'assets/img/icons/search-whites.svg' %}" alt="img"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- /Filter -->
							<div class="table-responsive">
								<table class="table datanew">
									<thead>
										<tr>
											<th>
												<label class="checkboxs">
													<input type="checkbox" id="select-all">
													<span class="checkmarks"></span>
												</label>
											</th>
											<th>Raw Material</th>
											<th>Sources</th>
											<th>Suppliers</th>
											<th>Grade</th>
											<th>Shelf Life</th>
											<th>Action</th>
										</tr>
									</thead>
									<tbody>
										{% for batch in batches %}
										<tr>
											<td>
												<label class="checkboxs">
													<input type="checkbox">
													<span class="checkmarks"></span>
												</label>
											</td>
											<td>{{ batch.name }}</td>
											<td>
												{% for source in batch.source_names %}
													{{ source }}{% if not forloop.last %}, {% endif %}
												{% endfor %}
											</td>
											<td>
												{% for supplier in batch.supplier_names %}
													{{ supplier }}{% if not forloop.last %}, {% endif %}
												{% endfor %}
											</td>
											<td>{{ batch.grade }}</td>
											<td>{{ batch.shelf_life_value }} {{ batch.shelf_life_unit }}</td>
										
											<td>
												
												<a class="me-3 view-user-btn" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#materialpage" data-batch-id="{{ batch.id }}">
													<i class="fa fa-eye"></i>
												</a>
												<a class="me-3 view-user-btn" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#materialpage" data-batch-id="{{ batch.id }}">
													<i class="fa fa-edit"></i>
												</a>
												
												
											</td>
										</tr>
										{% empty %}
										<tr>
											<td colspan="9">No batches found.</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								
							</div>
						</div>
					</div>
					<!-- /product list -->
				</div>
			</div>
        </div>
		<!-- /Main Wrapper -->

        <div class="modal fade" id="materialpage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Raw Material View</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="modal-body">
						
						<div class="container mt-2">
							<form class="row">

							<input type="hidden" id="raw_material_id" name="raw_material_id" value=""> 
							<div class="col-6 mt-2">
                                <label for="username" class="form-label">Rawmaterial</label>
								<input type="text" class="form-control" id="raw-material" name="raw-material" placeholder="Rawmaterial">
                            </div>
							<div class="col-6 mt-2">
								<label for="sources" class="form-label">Sources</label>
								<select class="form-select" id="sources" name="sources">
									<!-- Division options will be populated dynamically -->
								</select>
                            </div>
							<div class="col-6 mt-2">
								<label for="suppliers" class="form-label">Suppliers</label>
								<select class="form-select" id="suppliers"  name="suppliers">
									
                                        
								</select>
                            </div>
							<div class="col-6 mt-2">
                                <label for="grade" class="form-label">Grade</label>
								<input type="text" class="form-control" id="grade" name="grade" placeholder="grade">
                            </div>
							<div class="col-6 mt-2">
                                <label for="shelf life" class="form-label">Shelf Life</label>
								<input type="text" class="form-control" id="shelf_life" name="shelf_life" placeholder="shelf life">
                            </div>
							<div class="col-6 mt-2">
                                <label for="status" class="form-label">Unit</label>
                                <input type="text" class="form-control" id="unit"  name="unit" placeholder="shelf life">
                            </div>
						
								 
							<div class="d-flex justify-content-center mt-3">
								<button type="button" class="btn btn-primary btn-sm" id="updateRawMaterial">Update</button>
							</div>
						
                    
					</form>
						</div>
						
						
						
                            
                        </div>
                    </div>
                 
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
                  


		<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

        <!-- Feather Icon JS -->
        <script src="{% static 'assets/js/feather.min.js' %}"></script>

        <!-- Slimscroll JS -->
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

        <!-- Datatable JS -->
        <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
        
        <!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Sweetalert 2 -->
        <script src="{% static 'assets/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
        <script src="{% static 'assets/plugins/sweetalert/sweetalerts.min.js' %}"></script>

        <!-- Chart JS -->
        <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
        <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
        
        <!-- Custom JS -->
        <script src="{% static 'assets/js/script.js' %}"></script>
		
    </body>

	<script>
		 $('#add-raw-material').click(function(event) {
                event.preventDefault(); // Prevent the default action of the link
            	window.location.href = "{% url 'raw-material-add' %}";
; // Redirect to /forgot-username on click
            });




			function populateSourceDropdown(all_sources, selectedSources) {
    const sourceSelect = $('#sources');
    sourceSelect.empty(); // Clear existing options

    // Populate the dropdown with all sources
    all_sources.forEach(source => {
        sourceSelect.append(`<option value="${source.id}">${source.name}</option>`);
    });

    // Select the previously selected sources
    selectedSources.forEach(sourceId => {
        $(`#sources option[value="${sourceId}"]`).prop('selected', true);
    });

    // Trigger the change event to update Select2 or any other dropdown plugins
    sourceSelect.trigger('change');
}

function populateSuppliersDropdown(all_suppliers, selectedSuppliers) {
    const supplierSelect = $('#suppliers');
    supplierSelect.empty(); // Clear existing options

    // Populate the dropdown with all suppliers
    all_suppliers.forEach(supplier => {
        supplierSelect.append(`<option value="${supplier.id}">${supplier.name}</option>`);
    });

    // Select the previously selected suppliers
    selectedSuppliers.forEach(supplierId => {
        $(`#suppliers option[value="${supplierId}"]`).prop('selected', true);
    });

    // Trigger the change event to update Select2 or any other dropdown plugins
    supplierSelect.trigger('change');
}

$('.view-user-btn').on('click', function() {
	$('#saveUserChanges').show(); 
    const baseUrl = '/product/raw-material/';
    const batchId = $(this).data('batch-id'); // Use 'user-id' to match your data attribute
    const rawmaterialUpdateUrl = `${baseUrl}${batchId}/`; // Construct the URL

    // Make an AJAX call to fetch the raw material data
    $.ajax({
        type: 'GET',
        url: rawmaterialUpdateUrl,
        success: function(response) {
            const rawData = response.data;

            // Populate the form fields in the modal
            $('#raw-material').val(rawData.name);
            $('#grade').val(rawData.grade);
            $('#shelf_life').val(rawData.shelf_life_value);
            $('#unit').val(rawData.shelf_life_unit);
			$('#raw_material_id').val(rawData.id);

            // Populate dropdowns
            populateSourceDropdown(rawData.all_sources, rawData.sources.map(source => source.id));
            populateSuppliersDropdown(rawData.all_suppliers, rawData.suppliers.map(supplier => supplier.id));

            // Open the modal
            $('#materialpage').modal('show');
        },
        error: function(error) {
            console.error('Failed to fetch raw material data:', error);
        }
    });
});


$(document).ready(function() {
        $('#updateRawMaterial').click(function(event) {
			alert("clicked")
            event.preventDefault(); 
            
            // Gather form data
            var rawMaterialId = $('#raw_material_id').val(); 
			alert(rawMaterialId)// Ensure you set this value dynamically
            var name = $('#raw-material').val();
            var grade = $('#grade').val();
            var shelf_life_value = parseInt($('#shelf_life').val(), 10); // Ensure integer conversion
            var shelf_life_unit = $('#unit').val();
            var user_defined_date = $('#user_defined_date').val();
			var sources = Array.from(document.getElementById('sources').selectedOptions).map(option => Number(option.value)) || [];
        	var suppliers = Array.from(document.getElementById('suppliers').selectedOptions).map(option => Number(option.value)) || [];


            // Create the data object
            var rawMaterialData = {
                name: name,
                grade: grade,
                shelf_life_value: shelf_life_value,
                shelf_life_unit: shelf_life_unit,
                sources: sources,
                suppliers: suppliers
            };

            // Debug: Check the data object
            console.log(rawMaterialData);

            // Send data as JSON
            $.ajax({
                type: 'PUT',
                url: '/product/raw-material/' + rawMaterialId + '/', // Adjust URL as needed
                data: JSON.stringify(rawMaterialData),
                contentType: 'application/json',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // CSRF token for security
                },
                success: function(response) {
                    if (response.isSuccess) {
                        window.location.href = "/success-page/"; // Redirect on success
                    } else {
                        $('#error-message').text(response.message).show(); // Show error message
                    }
                },
                error: function() {
                    $('#error-message').text('An error occurred. Please try again.').show(); // Show error message
                }
            });
        });
    });


            
	</script>





</html>