<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="POS - Bootstrap Admin Template">
		<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, invoice, html5, responsive, Projects">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Login - Pos admin template</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% load static %}
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
        <!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		
    </head>
    <body class="account-page">
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
			<div class="account-content">
				<div class="login-wrapper">
                    
                    <div class="login-img">
                        <img src="{% static 'assets/img/hi.jpg' %}" alt="img">
                    </div>
                    <div class="login-content">
                        <div class="login-userset">
                             <div class="login-logo logo-normal">
                                <img src="{% static 'assets/img/est.png' %}" alt="img">
                            </div>
							<!-- <a href="index.html" class="login-logo logo-white">
								<img src="assets/img/logo-white.png"  alt="">
							</a> -->
                            <!-- <div class="login-userheading">
                                <h3>Sign In</h3>
                                <h4>Please login to your account</h4>
                            </div> -->
                           <div class="form-login">
                                <label>New Password</label>
                                <div class="form-addons">
                                    <input type="text" id="password" name="password">
                                    <!-- <img src="assets/img/icons/mail.svg" alt="img"> -->
                                </div>
                            </div>
                            <div class="form-login">
                                <label>Confrim Password</label>
                                <div class="pass-group">
                                    <input type="password" class="pass-input" id="confirm_password " name="confirm_password ">
                                    <span class="fas toggle-password fa-eye-slash"></span>
                                </div>
                            </div>
                            <!-- <div class="form-login">
                                <div class="alreadyuser">
                                    <h4 style="text-align:right;"> <a href="#" id="forgot-username-link">Forgot Username ? <a href="#" id="forgot-password-link">Forgot Password ?</a></a></h4>
                                </div>
                            </div> -->
                            <!-- <div class="form-login">
                                <a class="btn btn-login" href="index.html">Sign In</a>
                            </div> -->
                            <!-- <div class="signinform text-center">
                                <h4>Don’t have an account? <a href="signup.html" class="hover-a">Sign Up</a></h4>
                            </div> -->
                            <!-- <div class="form-setlogin">
                                <h4>Or sign up with</h4>
                            </div> -->
                            <div class="row">
                                <div class="col-lg-3 col-sm-3 col-3">

                                </div>
                                <div class="col-lg-12 col-sm-12 col-12 text-center">
                                    <div class="form-login">
                                        <a class="btn btn-login" id="reset-btn" href="index.html">Sign In</a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-3 col-3">

                                </div>
                                <div class="signinform text-center">
                                    <h4>Not a Member? <a href="signup.html" class="hover-a">Register now</a></h4>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
			</div>
        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

         <!-- Feather Icon JS -->
		<script src="{% static 'assets/js/feather.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js' %}"></script>
		
    </body>
    <script>
        $(document).ready(function() {

            $('#reset-btn').click(function(event) {
                event.preventDefault(); // Prevent the default form submission
                
                var password = $('#password').val();
                var confirm_password = $('#confirm_password').val();
                var reset_key = new URLSearchParams(window.location.search).get('reset_key');
          

                $.ajax({
                    type: 'POST',
                    url: '{% url "reset-password" %}', // Update this to your actual login endpoint
                    data: {
                        'password': password,
                        'confirm_password': confirm_password,
                        'reset_key':reset_key,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        if (response.isSuccess) {
                            window.location.href = '/login_view';// Redirect on success
                        } else {
                            $('#error-message').text(response.message);
                        }
                    },
                    error: function() {
                        $('#error-message').text('An error occurred. Please try again.');
                    }
                });
            });
        });


            // Clear input fields
           
            // $('#forgot-username-link').click(function(event) {
            //     event.preventDefault(); // Prevent the default action of the link
            //     window.location.href = '/forgot-username'; // Redirect to /forgot-username on click
            // });
            

            // $('#forgot-password-link').click(function(event) {
            //     event.preventDefault(); // Prevent the default action of the link
            //     window.location.href = '/forgot-password'; // Redirect to /forgot-username on click
            // });
        
   

       
    </script>
</html>