<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <meta name="description" content="POS - Bootstrap Admin Template">
        <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
        <meta name="author" content="Dreamguys - Bootstrap Admin Template">
        <meta name="robots" content="noindex, nofollow">
        <title>Dreams Pos admin template</title>
        {% load static %}
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">


<!--
        #newadded         -->

        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
        
        <!-- animation CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/animate.css' %}">

        <!-- Datatable CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/dataTables.bootstrap4.min.css' %}">
        
        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
        
        <!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style2.css' %}">

        
    </head>
    <body>
        <div id="global-loader" >
            <div class="whirly-loader"> </div>
        </div>
        <!-- Main Wrapper -->
        <div class="main-wrapper">

            <!-- Header -->
        <div class="header">
        
            <!-- Logo -->
             <div class="header-left active">
                <a href="index.html" class="logo logo-normal">
                    <img src="{% static 'assets/img/esth.png' %}"  alt="">
                </a>
                <a href="index.html" class="logo logo-white">
                    <img src="{% static 'assets/img/logo-white.png' %}"  alt="">
                </a>
                <a href="index.html" class="logo-small">
                    <img src="{% static 'assets/img/logo-small.png' %}"  alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                    <i data-feather="chevrons-left" class="feather-16"></i>
                </a>
            </div>
            <!-- /Logo -->
            
            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            
            <!-- Header Menu -->
            <ul class="nav user-menu">
            
                <!-- Search -->
                <li class="nav-item nav-searchinputs">
                    <div class="top-nav-search">
                        
                        <a href="javascript:void(0);" class="responsive-search">
                            <i class="fa fa-search"></i>
                        </a>
                        <form action="#">
                            <div class="searchinputs">
                                <input type="text" placeholder="Search">
                                <div class="search-addon">
                                    <span><i data-feather="search" class="feather-14"></i></span>
                                </div>
                            </div>
                            <!-- <a class="btn"  id="searchdiv"><img src="assets/img/icons/search.svg" alt="img"></a> -->
                        </form>
                    </div>
                </li>
                <!-- /Search -->
            
                <!-- Flag -->
                <li class="nav-item dropdown has-arrow flag-nav nav-item-box">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="javascript:void(0);" role="button">
                        <i data-feather="globe"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="javascript:void(0);" class="dropdown-item active">
                            <img src="{% static 'assets/img/flags/us.png' %}" alt="" height="16"> English
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="{% static 'assets/img/flags/fr.png' %}" alt="" height="16"> French
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="{% static 'assets/img/flags/es.png' %}" alt="" height="16"> Spanish
                        </a>
                        <a href="javascript:void(0);" class="dropdown-item">
                            <img src="{% static 'assets/img/flags/de.png' %}" alt="" height="16"> German
                        </a>
                    </div>
                </li>
                <!-- /Flag -->

                <li class="nav-item nav-item-box">
                    <a href="javascript:void(0);" id="btnFullscreen">
                        <i data-feather="maximize"></i>
                    </a>
                </li>
                <li class="nav-item nav-item-box">
                    <a href="email.html">
                        <i data-feather="mail"></i>
                        <span class="badge rounded-pill">1</span>
                    </a>
                </li>
                <!-- Notifications -->
                <li class="nav-item dropdown nav-item-box">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
                        <i data-feather="bell"></i><span class="badge rounded-pill">2</span>
                    </a>
                    <div class="dropdown-menu notifications">
                        <div class="topnav-dropdown-header">
                            <span class="notification-title">Notifications</span>
                            <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
                        </div>
                        <div class="noti-content">
                            <ul class="notification-list">
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">John Doe</span> added new task <span class="noti-title">Patient appointment booking</span></p>
                                                <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="{% static 'assets/img/profiles/avatar-03.jpg' %}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the task name <span class="noti-title">Appointment booking with payment gateway</span></p>
                                                <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="{% static 'assets/img/profiles/avatar-06.jpg' %}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire Mapes</span> to project <span class="noti-title">Doctor available module</span></p>
                                                <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="{% static 'assets/img/profiles/avatar-17.jpg' %}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                                <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li class="notification-message">
                                    <a href="activities.html">
                                        <div class="media d-flex">
                                            <span class="avatar flex-shrink-0">
                                                <img alt="" src="{% static 'assets/img/profiles/avatar-13.jpg' %}">
                                            </span>
                                            <div class="media-body flex-grow-1">
                                                <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new task <span class="noti-title">Private chat module</span></p>
                                                <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="topnav-dropdown-footer">
                            <a href="activities.html">View all Notifications</a>
                        </div>
                    </div>
                </li>
                <!-- /Notifications -->
                
                <li class="nav-item nav-item-box">
                    <a href="generalsettings.html"><i data-feather="settings"></i></a>
                </li>
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-info">
                            <span class="user-letter">
                                <img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt="" class="img-fluid">
                            </span>
                            <span class="user-detail">
                                <span class="user-name">John Smilga</span>
                                <span class="user-role">Super Admin</span>
                            </span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img"><img src="{% static 'assets/img/profiles/avator1.jpg' %}" alt="">
                                <span class="status online"></span></span>
                                <div class="profilesets">
                                    <h6>John Smilga</h6>
                                    <h5>Super Admin</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="profile.html"> <i class="me-2"  data-feather="user"></i> My Profile</a>
                            <a class="dropdown-item" href="generalsettings.html"><i class="me-2" data-feather="settings"></i>Settings</a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" href="signin.html"><img src="{% static 'assets/img/icons/log-out.svg' %}" class="me-2" alt="img">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- /Header Menu -->
            
            <!-- Mobile Menu -->
            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="generalsettings.html">Settings</a>
                    <a class="dropdown-item" href="signin.html">Logout</a>
                </div>
            </div>
            <!-- /Mobile Menu -->
        </div>
        <!-- Header -->
        
        <!-- Sidebar -->
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        
                        <li class="submenu-open">
                            <h6 class="submenu-hdr">User Management</h6>
                            <ul>
                                <li>
                                    <a href="dashboard.html" ><i data-feather="grid"></i><span>Dashboard</span></a>
                                </li>
                                <li>
                                    <a href="usernew.html" ><i data-feather="grid"></i><span>UserList</span></a>
                                </li>
                                
                            </ul>								
                        </li>
                        
                        
                       
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Sidebar -->

            <div class="page-wrapper">
                <div class="content">
                    <div class="page-header">
                        <div class="page-title">
                            <h4>User List</h4>
                        </div>
                    </div>
                    <div class="comp-sec-wrapper">
                
                      
                        
                        <!-- Tabs -->
                        <section class="comp-section">
                            <div class="section-header">
                                <!-- <h3 class="section-title">User List</h3> -->
                                <div class="line"></div>
                            </div>
                            
                            
                            <div class="row">
                                

                                <div class="col-md-12">
                                    <div class="card bg-white">
                                        <div class="card-header">
                                            <h5 class="card-title">Solid justified</h5>
                                        </div>
                                        <div class="card-body">
                                            <ul class="nav nav-tabs nav-tabs-solid nav-justified">
                                                <li class="nav-item"><a class="nav-link active" href="#solid-justified-tab1" data-bs-toggle="tab">Active</a></li>
                                                <li class="nav-item"><a class="nav-link" href="#solid-justified-tab2" data-bs-toggle="tab">Inactive</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane show active" id="solid-justified-tab1">
                                                    <div class="table-responsive">
                                                        <table class="table  datanew">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <label class="checkboxs">
                                                                            <input type="checkbox">
                                                                            <span class="checkmarks"></span>
                                                                        </label>
                                                                    </th>
                                                                    <th>User name </th>
                                                                    <th>UserType</th>
                                                                    <th>Center</th>
                                                                    <th>Divisions</th>
                                                                    <th>Role </th>
                                                                    <th>Created on  </th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                    
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in users %}
                                                                {% if  user.is_active %}
                                                                <tr>
                                                                    <td>
                                                                        <label class="checkboxs">
                                                                            <input type="checkbox">
                                                                            <span class="checkmarks"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>{{ user.username }}</td>
                                                                    <td>{{ user.usertype }}</td>
                                                                    <td>
                                                                        {% for cet in user.centre.all %}
                                                                            {{ cet.name }}{% if not forloop.last %}, {% endif %}
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td>
                                                                        {% for div in user.divisions.all %}
                                                                            {{ div.name }}{% if not forloop.last %}, {% endif %}
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td>
                                                                        {% for role in user.role.all %}
                                                                            {{ role.name }}{% if not forloop.last %}, {% endif %}
                                                                        {% endfor %}
                                                                    </td>
                                                                    <td>{{ user.date_joined }}</td>
                                                                    <td>
                                                                        <div class="status-toggle d-flex justify-content-between align-items-center">
                                                                            <input type="checkbox" id="user_{{ user.id }}" class="check" data-user-id="{{ user.id }}" {% if user.is_active %}checked{% endif %}>
                                                                            <label for="user_{{ user.id }}" class="checktoggle">checkbox</label>
                                                                        </div>
                                                                    </td>
                                                                     <td>
                                                                         <a class="me-3 update-user-btn" href="editquotation.html" data-bs-toggle="modal" data-bs-target="#exampleModal"data-user-id="{{ user.id }}">
                                                                            <!-- <img src="assets/img/icons/edit.svg" alt="img"> -->
                                                                            <i class="fa fa-edit"></i>
                                                                            </a>                                                            
                                                                            <a class="me-3 view-user-btn" href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#exampleModal" data-user-id="{{ user.id }}">
                                                                                <!-- <img src="assets/img/icons/delete.svg" alt="img"> -->
                                                                                <i class="fa fa-eye"></i>
                                                                    </td>
                                                                   
                                                                </tr>
                                                         
                                                            </tbody>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="solid-justified-tab2">
                                                    <div class="table-responsive">
                                                        <table class="table  datanew">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <label class="checkboxs">
                                                                            <input type="checkbox">
                                                                            <span class="checkmarks"></span>
                                                                        </label>
                                                                    </th>
                                                                    <th>User name </th>
                                                                    <th>User type</th>
                                                                    <th>email</th>
                                                                    <th>Role</th>
                                                                    <th>Created On</th>
                                                                    <th>Status</th>
                                                                    <th>Action</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for user in users %}
                                                                {% if not user.is_active %}
                                                                <tr>
                                                                    <td>
                                                                        <label class="checkboxs">
                                                                            <input type="checkbox">
                                                                            <span class="checkmarks"></span>
                                                                        </label>
                                                                    </td>
                                                                    <td>{{ user.username }}</td>
                                                                    <td>{{ user.usertype }}</td>
                                                                    <td>thomas@example.com </td>
                                                                    <td><select id="options" name="options">
                                                                        {% for role in all_roles %}
                                                                        <option value="{{ role.id }}">{{ role.name }}</option>
                                                                    {% endfor %}
                                                                       
                                                                    </select></td>
                                                                    <td>3/15/2022</td>
                                                                    <td><span class="bg-lightred badges">InActive</span></td>
                                                                    <td>
                                                                          
                                                                        <!-- <a class="me-3" href="newuseredit.html"> -->
                                                                            <!-- <img src="assets/img/icons/edit.svg" alt="img"> -->
                                                                            <!-- <span class="bg-lightgreen badges">Approve</span> -->
                                                                            <button type="button" class="bg-secondary badges"  data-user-id="{{ user.id }}"  id="confirm-button-me">Confirm Button Color</button>
                                                                        <!-- </a> -->
                                                                        <a class="me-3 confirm-text" href="javascript:void(0);">
                                                                            <!-- <img src="assets/img/icons/delete.svg" alt="img"> -->
                                                                            <span class="bg-lightred badges">Rejected</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                         
                                                            </tbody>
                                                            {% endif %}
                                                            {% endfor %}
                                                        </table>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </section>
                        <!-- /Tabs -->

                    </div>
                </div>
            </div>
            
        </div>
        <!-- /Main Wrapper -->

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">User Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
                    </div>
                    <div class="modal-body">
                        <div class="container mt-2">
                           
                            <form class="row">
                                <div class="col-6 mt-2">
                                    <label for="username" class="form-label">User Name</label>
                                    <input type="text" class="form-control" id="username" placeholder="Enter User Name">
                                </div>
                                <div class="col-6 mt-2">
                                    <label for="center" class="form-label">Center</label>
                                    <select class="form-select" id="center">
                                        <!-- Center options will be populated dynamically -->
                                    </select>
                                </div>
                                <div class="col-6 mt-2 scrollable-div">
                                    <label for="role" class="form-label">Role</label>
                                    <div id="role" class="form-check">
                                        <!-- Checkboxes will be populated dynamically -->
                                    </div>
                                </div>
                                
                                <div class="col-6 mt-2" style= "margin-left:7px">
                                    <label for="division" class="form-label">Division</label>
                                    <select class="form-select" id="division"   >
                                        <!-- Division options will be populated dynamically -->
                                    </select>
                                </div>
                                <div class="col-6 mt-2">
                                    <label for="usertype" class="form-label">User Type</label>
                                    <select class="form-select" id="usertype">
                                        <!-- User Type options will be populated dynamically -->
                                    </select>
                                </div>
                                <input type="hidden" id="userId" name="userId" value="">
                                <div class="col-6 mt-2">
                                    <label for="status" class="form-label">Status</label>
                                    <select class="form-select" id="status">
                                        <option>Select Status</option>
                                        <option value="true">Active</option>
                                        <option value="false">Inactive</option>
                                    </select>
                                </div>

                             
                                </div>
                                    <div class="col-12 mt-3 d-flex justify-content-center">
                                        <button type="submit" id="saveUserChanges" class="btn btn-primary btn-lg mt-3" style="display: none;">Update</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                    <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div> -->
                </div>
            </div>
        </div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.min.js"></script>
          
        <!-- jQuery -->
        <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

        <!-- Feather Icon JS -->
        <script src="{% static 'assets/js/feather.min.js' %}"></script>

        <!-- Slimscroll JS -->
        <script src="{% static 'assets/js/jquery.slimscroll.min.js' %}"></script>

        <!-- Datatable JS -->
        <script src="{% static 'assets/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'assets/js/dataTables.bootstrap4.min.js' %}"></script>
        
        <!-- Bootstrap Core JS -->
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

        <!-- Sweetalert 2 -->
		<script src="{% static 'assets/plugins/sweetalert/sweetalert2.all.min.js' %}"></script>
		<script src="{% static 'assets/plugins/sweetalert/sweetalerts.min.js' %}"></script>

        <!-- Chart JS -->
        <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
        <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>
        
        <!-- Custom JS -->
        <script src="{% static 'assets/js/script.js' %}"></script>

        
    </body>
    <script>



// function populateDropdown(selectElement, allItems, selectedItems) {

//         selectElement.empty(); // Clear existing options

//         allItems.forEach(item => {
//             selectElement.append(`<option value="${item.id}">${item.name}</option>`);
//         });

//         selectedItems.forEach(itemId => {
//             $(`#${selectElement.attr('id')} option[value="${itemId}"]`).prop('selected', true);
//         });

//         // Trigger the change event to update Select2
//         selectElement.trigger('change');

function populateDivisionDropdown(allDivisions, selectedDivisions, userId) {
    const divisionSelect = $('#division');
    divisionSelect.empty(); // Clear existing options

    // Populate the division dropdown
    allDivisions.forEach(division => {
        divisionSelect.append(`<option value="${division.id}">${division.name}</option>`);
    });

    selectedDivisions.forEach(divisionId => {
        $(`#division option[value="${divisionId}"]`).prop('selected', true);
    });

    // Set the user ID in the hidden input field
    $('#userId').val(userId);

    // Trigger the change event to update Select2 if you're using it
    
}



    function populateCenterDropdown(allCentres,selectedCentres) {
      
        const centerSelect = $('#center');
        centerSelect.empty(); // Clear existing options

        allCentres.forEach(center => {
            centerSelect.append(`<option value="${center.id}">${center.name}</option>`);
        });

        selectedCentres.forEach(centerId => {
            $(`#center option[value="${centerId}"]`).prop('selected', true);
        });
       
        // Trigger the change event to update Select2
       
    }
    
    function populateRoleTypeDropdown(allRoles, selectedRoles) {
    const roleSelect = $('#role');
    roleSelect.empty(); // Clear existing options

    // Populate the container with checkboxes
    allRoles.forEach(role => {
        const isChecked = selectedRoles.includes(role.id) ? 'checked' : '';
        roleSelect.append(`
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" value="${role.id}" ${isChecked}>
                ${role.name}
            </label><br>
        `);
    });
}




    function populateUserTypeDropdown(allUsertypes, selectedusertype) {

    const usertypeSelect = $('#usertype');
    usertypeSelect.empty(); // Clear existing options

    // Populate the dropdown
    allUsertypes.forEach(usertype => {
        usertypeSelect.append(`<option value="${usertype.id}">${usertype.name}</option>`);
    });

    // Ensure selectedusertype is an array
    if (!Array.isArray(selectedusertype)) {
        selectedusertype = [selectedusertype];
    }

    usertypeSelect.val(selectedusertype); // Use .val() to set selected values

    // Trigger the change event to upda  usertypeSelect.trigger('change');
}




    document.addEventListener('DOMContentLoaded', function() {
    

    // Get all checkboxes
    const checkboxes = document.querySelectorAll('.status-toggle .check');
    const updateUserStatusUrl = '{% url "update_user_status" %}';

    checkboxes.forEach(checkbox => {
      
        checkbox.addEventListener('change', function() {
            const isChecked = this.checked;
            const username = this.id.split('_')[1]; // Extract username from checkbox id
            const id = this.getAttribute('data-user-id'); 
          
            // Prepare data to send
            const data = {
                'username': username,
                'is_active': isChecked,
                'id': id, 
            };

            // Send AJAX request to update user status
            fetch(updateUserStatusUrl, {
                
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token for Django
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.reload();
                } else {
                    console.error('Failed to update user status.');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    });
});


$(document).ready(function() {
   
    $('.update-user-btn').on('click', function() {
        $('#saveUserChanges').show(); 
       
        const baseUrl = '/user/user-update/';
    
        const userId = $(this).data('user-id');
        alert(userId) /// Get the user ID from the button's data attribute
        const userUpdateUrl = `${baseUrl}${userId}/`; // Construct the URL

        // Make an AJAX call to fetch the user data
        $.ajax({
            type: 'GET',
            url: userUpdateUrl,
            success: function(response) {
             
                // Assuming response contains the user data
                const userData = response.data;
                alert(userData)

                // Populate the form fields in the modal
                $('#userId').val(userData.userid);
                $('#username').val(userData.username);
               
                populateCenterDropdown(userData.all_centres, userData.centre)
                populateDivisionDropdown(userData.all_divisions, userData.divisions, userData.userid);
                populateUserTypeDropdown(userData.all_usertypes,userData.usertype)
                populateRoleTypeDropdown(userData.all_roles,userData.role);

              
               

                // Open the modal
                $('#exampleModal').modal('show');
            },
            error: function(error) {
                console.error('Failed to fetch user data:', error);
            }
        });
    });


});




$(document).ready(function() {
   
   $('.view-user-btn').on('click', function() {
      
      
       const baseUrl = '/user/user-update/';
   
       const userId = $(this).data('user-id');
     /// Get the user ID from the button's data attribute
       const userUpdateUrl = `${baseUrl}${userId}/`; // Construct the URL

       // Make an AJAX call to fetch the user data
       $.ajax({
           type: 'GET',
           url: userUpdateUrl,
           success: function(response) {
            
               // Assuming response contains the user data
               const userData = response.data;
               // Populate the form fields in the modal
               $('#userId').val(userData.userid);
               $('#username').val(userData.username);
              
               populateCenterDropdown(userData.all_centres, userData.centre)
               populateDivisionDropdown(userData.all_divisions, userData.divisions, userData.userid);
               populateUserTypeDropdown(userData.all_usertypes,userData.usertype)
               populateRoleTypeDropdown(userData.all_roles,userData.role);

             
              

               // Open the modal
               $('#exampleModal').modal('show');
           },
           error: function(error) {
               console.error('Failed to fetch user data:', error);
           }
       });
   });


});


function getSelectedRoles() {
    return $('#role').val(); // Returns an array of selected role IDs
}
$(document).ready(function() {
    $('#saveUserChanges').click(function(event) {
        event.preventDefault(); // Prevent the default form submission
      
        const userId = $('#userId').val();
        const userUpdateUrl = `{% url 'user-update' user_id=0 %}`.replace('0', userId); // Construct the URL for the user update with user ID
        var username = $('#username').val();
        var centre = $('#center').val() ? [parseInt($('#center').val())] : [];
        var divisions = $('#division').val() ? [parseInt($('#division').val())] : [];
      var role = $('#role input[type="checkbox"]:checked').map(function() {
        return parseInt($(this).val());
    }).get();


        // Gather form data
        const formData = {
            'centre': centre,
            'divisions': divisions,
            'role': role,
        };

        // Make an AJAX call to update the user data
        $.ajax({
            type: 'PUT',
            url: userUpdateUrl,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}' // Include CSRF token for Django
            },
            data: JSON.stringify(formData),
            contentType: 'application/json',
            success: function(response) {
                if (response.success) {
                    // Close the modal
                    // $('#userUpdateModal').modal('hide');
                    // Optionally, refresh the page or update the UI
                    window.location.reload();
                } else {
                    $('#error-message').text(response.message).show(); // Show error message
                }
            },
            error: function(xhr, status, error) {
                console.error('Error updating user data:', error);
                $('#error-message').text('An error occurred while updating user data. Please try again.').show(); // Show error message
            }
        });
    });
});





$(document).ready(function() {

    const baseUrl = '/user/approve-user/'; // Adjust this to your actual URL pattern

    $(document).on("click", "#confirm-button-me", function () {

        const userId = $(this).data('user-id');
        const url = `${baseUrl}${userId}/`; // Append user ID to the base URL
        Swal.fire({
        title: "Are you sure?",
        text: "You won't be able to revert this!",
        type: "warning",
        showCancelButton: !0,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes,Approve it!",
        confirmButtonClass: "btn btn-primary",
        cancelButtonClass: "btn btn-danger ml-1",
        buttonsStyling: !1,
      }).then(function (t) {
        t.value
          ? 
          fetch(url, {
            method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}' // Ensure CSRF token is included
                    },
        })
        .then(response => response.json())
        .then(data => {

            if (data.success) {
                Swal.fire({
                icon: "success",  // Use "icon" instead of "type" as "type" is deprecated
                title: "Approved!",
                text: "You Approved Successfully.",
                confirmButtonClass: "btn btn-success",
            }).then(() => {
                // Add a delay before reloading the page
                setTimeout(function() {
                    location.reload();  // Reload the page after showing the message
                }, 1000);  // 2000 milliseconds = 2 seconds
            });
            }
                else {   
                    Swal.fire({
                    type: "danger",
                    title: "Approved not Sucessfull!",
                    text: "User not approved .",
                    confirmButtonClass: "btn btn-success",
                })
                    }


        })
          : t.dismiss === Swal.DismissReason.cancel &&
            Swal.fire({
              title: "Cancelled",
              text: "Not Approved :)",
              type: "error",
              confirmButtonClass: "btn btn-success",
            });
      });



    });

});



    </script>
      <style>
        .scrollable-div {
            width: 360px; /* Set the width of the div */
            height: 100px; /* Set the height of the div */
            overflow: auto; /* Add scrollbars if needed */
            border: 1px solid #ccc; 
            margin-left: 12px;/* Optional: Add a border for better visibility */
        }
    </style>
</html>